body {
  background:lightblue;
}

p { 
  font-size: 14px;
  font-style: oblique;
  color: #a37639;
  margin: 20px;
}

h3 { 
  font-size: 18px;
  text-align: center;
}
  

h1 {
  font-weight: bold;
  
}

img {
  float: center;
  height: 400px;
  margin: 20px;
  border-color: lightcoral;
  border-width: 12px;
  border-style: double;
  border-radius: 20px;
  
}

li{
  
  color: #b2a3d8;
  margin-left: 2px;
}

/*comment*/This sheet will design the structure of the website. /*comment*/

.container{
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-content:stretch;
    align-items:center;
    justify-content: center;
    font-family:monospace;
    background-color:lightblue;
    color:black;
  
}

.info{
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  
}

.image{
  justify-content:center;
  text-align:center;
  margin:20px;
}
